<%= form_with model: [@project, @task] do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :due_date %>
    <%= f.date_field :due_date %>
  </div>

  <div>
    <%= f.label :priority %>
    <%= f.select :priority, Task.priorities.keys.map {|k|  [k.humanize, k]}, selected: @task.status %>
  </div>
  <div>
    <%= f.label :status %>
    <%= f.select :status, Task.statuses.keys.map {|k|  [k.humanize, k]}, selected: @task.status  %>
  </div>
  <div>
    <%= f.submit "Create Task" %>
  </div>
<% end %>
