<h1>Tasks</h1>
<div >

</div>
<table>
    
    <thead>Task</thead>
    <tr>
        <th>name</th>
        <th>description</th>
        <th>due date</th>
        <th>priority</th>
        <th>status</th>
        <th>project assigned</th>
        <th>details</th>
        </tr>
        <% @tasks.each do |task| %>
    <tr>
        <td><h4><%= task.name %></h4></td>
        <td><%= task.description %></td>
        <td><%= task.due_date %></td>
        <td><%= task.priority.humanize %></td>
        <td><%= task.status.humanize %></td>
        <td><%= task.project.name %></td>
        <td> <%= link_to "View task", project_task_path(task.project_id,task) %></td>
        
    </tr>
    <p> <%= link_to "back to project", project_path(task.project_id) %></p>
    <% end %>
    </table>

     



