<h1>Task: <%= @task.name %></h1>
<p><strong>Description:</strong> <%= @task.description %></p>
<p><strong>Status:</strong> <%= @task.status %></p>
<p><strong>Priority:</strong> <%= @task.priority %></p>
<p><strong>Due date:</strong> <%= @task.due_date %></p>
<p><strong>Project:</strong> <%= link_to @task.project.name, project_path(@task.project) %></p>

<h2>Employers</h2>
<p><%= link_to "View assigned employers", task_employers_path(@task) %></p>

<h3>Actions</h3>
<div>
  <%= button_to "Start", start_task_path(@task), method: :patch %>
  <%= button_to "Pause", pause_task_path(@task), method: :patch %>
  <%= button_to "Review", review_task_path(@task), method: :patch %>
  <%= button_to "Cancel", cancel_task_path(@task), method: :patch %>
  <%= button_to "Complete", complete_task_path(@task), method: :patch %>
</div>

<div>
  <%= button_to "Priority: Normal", prioritize_normal_task_path(@task), method: :patch %>
  <%= button_to "Priority: Irrelevant", prioritize_irrelevant_task_path(@task), method: :patch %>
  <%= button_to "Priority: Important", prioritize_important_task_path(@task), method: :patch %>
  <%= button_to "Priority: Critical", prioritize_critical_task_path(@task), method: :patch %>
</div>


