<h1><strong>Project:</strong> <%= @project.name %></h1>
<p><strong>Description:</strong> <%= @project.description %></p>
<p><strong>Status:</strong> <%= @project.status.humanize %></p>
<p><strong>Start date:</strong> <%= @project.start_date %></p>
<p><strong>End date:</strong> <%= @project.end_date %></p>

<h3>Actions</h3>
<% flash.each do |type, msg| %>
    <div class="p-4 rounded border-l-4  mb-4" role="alert">
      <p><%= msg %></p>
    </div>
<% end %>



<div>
  <%= form_with url: change_status_project_path(@project),  method: :patch do |f| %>
   <div>
    <%= f.label :status %>
    <%= f.select :status, Project.statuses.keys.map  {|k| [k.humanize, k]}, selected: @project.status%>
    <%= f.submit "Update status" %>
  </div>
  <% end %>
  <%= button_to "back", projects_path%>
  </div>

<h2>Tasks</h2>

  </ul>


